<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css"
    />
    <title>Flask-Vercel Template</title>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li>
            <a href="https://fullyhacks.acmcsuf.com/" target="_blank"
              ><strong>FullyHacks</strong></a
            >
          </li>
          <li>
            <a
              href="https://github.com/acmcsufoss/hackpack_flask_vercel"
              target="_blank"
              >Source Code</a
            >
          </li>
        </ul>
      </nav>

      <h1>A premade Flask template!</h1>

      <p>
        Are you looking to build a web application using Flask but don't know
        where to start? Look no further! Our premade Flask template provides you
        with a ready-to-use foundation to kickstart your web development
        journey.
      </p>
      <p>
        Our template includes all the necessary files and dependencies you need
        to get started, so you don't have to worry about configuring your Flask
        environment from scratch. Our template comes with a clean and modern
        design using
        <a href="https://picocss.com" target="_blank">pico.css</a> that you can
        easily customize to fit your brand or project requirements. The template
        is fully responsive, ensuring that your web application looks great on
        any device, whether it's a desktop, laptop, or mobile device. Built
        specifically with Vercel in mind, deploying with this template is as
        simple as clicking the provided link in our README.md!
      </p>
      <p>Good luck to all FullyHacks participants!</p>

      <nav>
        <details role="list">
          <summary aria-haspopup="listbox" role="button">Theme</summary>
          <ul role="listbox">
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
          </ul>
        </details>
      </nav>
    </main>
  </body>
  <script src="/static/minimal-theme-switcher.js"></script>
</html>
